body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
  
  
  form {
    background-color: #fff;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .barra-com-texto {
    background-color: rgb(57, 20, 87);
    color: white;
    text-align: center;
    padding: 12px 0;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 6px 6px 0 0;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 8px;
    margin: 6px 0 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 8px;
  }
  
  
  input[type="submit"],
  input[type="reset"] {
    background-color: rgb(57, 20, 87);
    color: white;
    border: none;
    padding: 10px 16px;
    margin: 10px 5px 0;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background-color: #371352;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-suave-com-gradiente_23-2148967580.jpg?semt=ais_hybrid&w=740); /* ou um link externo */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

h1 {
  color: #6A1B9A; /* Roxo escuro */
  font-family: Arial, sans-serif;
}

h4 {
  color: #130218; /* Roxo claro */
  font-family: Arial, sans-serif;
}

h6 {
  color: #802890; /* Tom suave de roxo */
  font-style: italic;
}

/* Parágrafos */
p {
  color: #52105d; /* Marrom escuro */
  font-family: 'Verdana', sans-serif;
  font-size: 16px;
}
hr {
  border: none;
  height: 2px;
  background-color: #8a5aa8; /* Roxo claro */
  margin: 20px 0;
}

  